@media (max-width: 1600px) {
	.header {
		padding-bottom: 200px;
	}
}

@media (max-width: 1200px) {
	.hero__title {
		font-size: 68px;
	}
	.article-text::before {
		width: 140px;
		height: 140px;
		font-size: 140px;
	}

	.article-text {
		padding-left: 50px;
		max-width: 50%;
		margin-right: 0;
	}

	.article-img {
		max-width: 45%;
	}

	.footer-nav + .footer-nav {
		margin-left: 100px;
	}
}

@media (max-width: 1000px) {
	.footer-row {
		flex-direction: column-reverse;
	}

	.footer-nav-wrapper {
		margin-bottom: 80px;
	}
}

@media (max-width: 800px) {
	.nav,
	.account {
		display: none;
	}

	.nav-wrapper {
		margin-bottom: 90px;
	}

	.nav-button {
		display: block;
	}

	.mobile-nav-active {
		display: flex;
	}

	.hero__title {
		font-size: 48px;
		text-shadow: 0px 0px 15px #0009;
	}

	.hero__category::before {
		width: 42px;
	}

	.hero__category {
		font-size: 14px;
		padding-left: 62px;
	}

	.article-title {
		font-size: 44px;
	}
}

@media (max-width: 720px) {
	.article,
	.article:nth-child(even) {
		flex-direction: column-reverse;
		margin-bottom: 100px;
	}

	.article-text {
		max-width: 100%;
	}

	.article-img {
		max-width: 320px;
		width: 100%;
		margin-bottom: 75px;
	}

	.container {
		margin: 0 auto;
	}

	img {
		margin: 0 auto;
	}
}

@media (max-width: 560px) {
	.hero__title {
		font-size: 44px;
	}
	.footer-nav-wrapper {
		flex-direction: column;
	}

	.footer-nav + .footer-nav {
		margin-left: 0px;
		margin-top: 60px;
	}
}
